



body {
  background-color: #ffe6e6; 
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* تنسيق البطاقة */
.card-custom {
  width: 100%;
  max-width: 400px; /* تحديد عرض البطاقة */
  margin: 20px; /* إضافة هامش */
  border-radius: 2px;
  box-shadow: 0 4px 8px hwb(0 28% 11% / 0.1);
}

/* تنسيق النموذج */
form {
  display: flex;
  flex-direction: column; 
}

.form-group {
  margin-bottom: 30px; 
}


input[type="email"], input[type="password"] {
  width: 100%; /* عرض كامل */
  box-sizing: border-box; 
}

.text-center {
  text-align: center; /* توسيط النص */
}


.link-custom {
  color: #bdd1e7; 
  text-decoration: none; 
}

.link-custom:hover {
  text-decoration: underline; 
}


.dashboard-container, .todolist-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 5px;
}

.card-custom {
  border: 1px solid #e22b80;
  border-radius: 10px;
}

h2 {
  color: #c04574;
}

.btn-primary {
  background-color: #fbfbfc;
}

.btn-secondary {
  background-color: #e5ecf1;
}
.custom-margin {
  margin-top: 30px; 
}
.centered-button {
  display: flex;            
  justify-content: center;  
  margin-top: 1cm;        
}

.pink-box {
  background-color: pink;
  padding: 10px;           
  border-radius: 5px;     
}
.input-group .btn {
  border-radius: 0 0.25rem 0.25rem 0; 
}

